<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div id="LoginBar">
        @if (this.Session["Session"] == null)
        {
            @Html.ActionLink("Увійти", "LogIn", "Home")
        }
    </div>
    <div class="Content">
        <div id="Header">
            <ul id="Menu">
                <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                <li>@Html.ActionLink("Про проект", "About", "Home")</li>
            </ul>
        </div>
        <div id="MainContent">
            @RenderBody()
        </div>
        <div id="Footer">
            ©Studying Controller</br>2013
        </div>
    </div>
</body>
</html>
