<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="Content">
        <div id="Header">
            <ul id="Menu">
                <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                <li>@Html.ActionLink("Сторінка користувача", "UserPage", "Home")</li>
                <li>@Html.ActionLink("Про проект", "About", "Home")</li>
                <li>
                        @if (this.Session["Session"] == null)
                        {
                            @Html.ActionLink("Увійти", "LogIn", "Home")
                        }
                        else
                        {
                            @Html.ActionLink("Вийти", "LogOut", "Home")
                        }
                </li>
            </ul>
        </div>
        <div id="ErrorPanel">@ViewBag.Error</div>
        <div id="MainContent">
            @RenderBody()
        </div>
        <div id="Footer">
            ©Studying Controller<br />
            @DateTime.Now.Year
        </div>
    </div>
</body>
</html>
