@model ThinClient.Models.LoginModel

@{
    ViewBag.Title = "Вхід";
}

<div id="LoginForm">
    <form method="post" action="">
        <ol>
            <li>
                @Html.LabelFor(m => m.Login, "Логін")
            </li>
            <li>
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, "Пароль")
            </li>
            <li>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <input type="submit" value="Увійти" />
            </li>
        </ol>
    </form>
    <div style="margin-left: 40px">@ViewBag.Message</div>
</div>
